/* Thai */
@font-face {
  font-family: 'SF Pro';
  src: url('SFProTH_Regular.woff2') format('woff2');
  unicode-range: U+0E01-0E5B; 
}

/* EN */
@font-face {
  font-family: 'SF Pro';
  src: url('SFProEN_Regular.woff2') format('woff2');
  unicode-range: U+0000-007F;
}
